/* Team global ---------------------------------- */
.th-team {
    position: relative;

    .team-img {
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            transition: 0.4s ease-in-out;
        }
    }

    .team-desig {
        font-size: 16px;
        font-weight: 400;
        display: block;
        margin-bottom: -0.45em;
        color: $black-color2;
    }

    .th-social {
        transition: 0.4s ease-in-out;

        a {
            --icon-size: 32px;
            background-color: transparent;
            border: 1px solid $theme-color;
            color: $theme-color;
            font-size: 14px;

            &:hover {
                background-color: $theme-color;
                color: $white-color;
            }
        }
    }

    .box-title {
        margin-bottom: 0;
    }
}

/* Team box start ---------------------*/
.teamSlider1 {
    .swiper-pagination-bullets .swiper-pagination-bullet {
        border: 1px solid $title-color;

        &.swiper-pagination-bullet-active {
            border-color: var(--theme-color);
        }
    }
}

.team-box {
    position: relative;
    text-align: center;
    overflow: hidden;
    z-index: 2;
    --space: 56px;
    transition: all ease 0.4s;

    .team-img {
        max-width: calc(100% - var(--space)* 2);
        margin: 0 auto;
        border: 3px solid $white-color;
        overflow: hidden;
        position: relative;
        border-radius: 50%;
        z-index: 3;

        img {
            width: 100%;
            border-radius: 50%;
            transition: all 1.3s ease 0s;
        }
    }

    .team-content {
        position: relative;
        padding: 130px 16px 16px 16px;
        margin-top: -100px;
        background-color: $white-color;
        border-radius: 16px;
        z-index: 2;

    }

    .media-body {
        position: relative;
        border-radius: 16px;
        background-color: #E9F6F9;
        padding: 24px 28px;
        transition: all ease 0.4s;
        z-index: 2;
        overflow: hidden;

    }

    .box-title {
        color: $black-color2;

        a {
            color: inherit;
        }

    }

    .team-desig {
        margin-bottom: 12px;
    }

    &:hover {
        .team-img {
            img {
                transform: scale(1.1);
            }
        }

        .media-body {
            background-color: $theme-color;
        }

        .box-title {
            color: $white-color;
        }

        .team-desig {
            color: $white-color;
        }

        .th-social {
            a {
                border: 1px solid $white-color;
                color: $white-color;
            }
        }
    }
}

/* Team box end ---------------------*/

/* Team grid start -------------------------*/
.team-grid {
    position: relative;
    background-color: $smoke-color;
    text-align: center;
    border-radius: 16px;
    --space: 72px;

    .team-img {
        border-radius: 16px 16px 0 0;

        img {
            transition: all 1.3s ease 0s;
        }
    }

    .team-img2 {
        width: 280px;
        height: 280px;
        margin: 0 auto;
        margin-top: -100px;
        border: 3px solid $white-color;
        overflow: hidden;
        position: relative;
        border-radius: 50%;
        z-index: 3;

        img {
            width: 100%;
            border-radius: 50%;
            transition: all 1.3s ease 0s;
        }

    }

    .team-content {
        position: relative;
        padding: 24px 16px 16px 16px;
        border-radius: 16px;
        transition: all 1s ease;
        z-index: 2;
    }

    .media-body {
        position: relative;
        border-radius: 16px;
        background-color: #fff;
        padding: 24px 28px;
        transition: all 1s ease;
        z-index: 2;
        overflow: hidden;

    }

    .box-title {
        color: $black-color2;

        a {
            color: inherit;
        }

    }

    .team-desig {
        margin-bottom: 12px;
    }

    &:hover {
        .team-img {
            img {
                transform: scale(1.1);
            }
        }

        .team-img2 {
            img {
                transform: scale(1.1);
            }
        }

        .media-body {
            background-color: $theme-color;
        }

        .box-title {
            color: $white-color;
        }

        .team-desig {
            color: $white-color;
        }

        .th-social {
            a {
                border: 1px solid $white-color;
                color: $white-color;
            }
        }
    }
}

.team-area3 {
    .slider-arrow {
        top: 35%;
        left: var(--pos-x, -60px);

        &.slider-next {
            right: var(--pos-x, -60px);
            left: unset;
        }
    }
}

/* Team Details ---------------------------------- */
.team-details {
    .box-title {
        font-size: 28px;
        
    }
}

.team-about {
    @include lg {
        margin-bottom: 20px;
    }

    .th-social a {
        &:not(:hover) {
            background-color: #E4E4E4;
            color: $title-color;
        }
    }

    &.style2 {
        margin-left: 45px;

        @include lg {
            margin: 0;
        }

        .team-about {
            &_title {
                font-weight: 600;
                margin: 0 0 3px 0px;
            }

            &_desig {
                border-bottom: 1px solid #E4E4E4;
                padding-bottom: 20px;
            }

            &_text {
                line-height: 26px;
                max-width: 465px;
            }
        }
    }

    &_title {
        font-size: 40px;
        margin: -0.8rem 0 20px 0px;  
    }

    &_desig {
        font-weight: 500;
        color: $body-color;
        margin-bottom: 23px;
    }

    .box-title {
        font-size: 28px;
    }

    .th-btn {
        padding: 19.5px 38.9px;
    }
}


.about-card-img {
    position: relative;
    background-color: $white-color;
    padding: 40px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.06);

    img {
        width: 100%;
    }

    @include xl {
        padding: 30px;
    }

    @include lg {
        margin-bottom: 40px;
    }

    @include vxs {
        padding: 20px;
    }
}

@media (min-width: 1300px) {
    .about-card {
        margin-left: 50px;
    }
}

.about-card {
    &_title {
        margin-bottom: 15px;

    }

    &_desig {
        color: $body-color;
        margin-bottom: 22px;
        margin-top: -0.5em;
    }

    &_text {
        margin-bottom: 26px;
        margin-top: 32px;
    }

    .th-social a {
        border-radius: 10px;
    }
}

.team-info {
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            margin-bottom: 15px;
            display: flex;
            align-items: center;

            &:last-child {
                margin-bottom: 0;
            }

            b {
                font-family: $title-font;
                width: 100%;
                max-width: 200px;
                font-weight: 600;
                font-size: 18px;
                color: $title-color;
                line-height: 28px;
            }

            span,
            a {
                color: $body-color;
            }

            a:hover {
                color: $theme-color;
            }
        }
    }
}

@include xs {
    .team-info ul li b {
        max-width: 140px;
    }
}

.team-contact-form {
    padding: 50px;
    background-color: $smoke-color;

    textarea {
        height: 120px;
    }

    .form-title {
        margin-top: -0.3em;
        margin-bottom: 25px;
    }

    @include xs {
        padding: 40px 20px;
    }
}

.skill-feature {
    text-align: left;

    &.style2 {
        .skill-feature {
            &_title {
                font-family: $title-font;
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                color: $white-color;
                margin-bottom: 10px;
            }
        }

        .progress {
            height: 6px;
            background-color: #4D5765;
            border-radius: 3px;
        }

        .progress-bar {
            height: 6px;
            margin: 0px;
        }

        .progress-value {
            font-family: var(--title-font);
            color: $white-color;
        }
    }

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    &_title,
    .progress-value {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 6px;
        margin-top: -0.5em;
        font-family: $title-font;
        color: $title-color;
    }

    .progress {
        position: relative;
        height: 8px;
        background-color: #E4E4E4;
        overflow: visible;
        border-radius: 4px;
    }

    .progress-bar {
        background-color: $theme-color;
        height: 4px;
        margin: 2px;
        border-radius: inherit;
        overflow: visible;
        position: relative;
    }

    .progress-value {
        position: absolute;
        top: -30px;
        right: -8px;
    }
}